/* 卡片头部文字居中 */
.n-card-header {
  text-align: center;
}

.n-card > {
  .n-card-header {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .n-card__content {
    padding: 0 2rem 1.5rem 2rem;
  }
}

.n-input .n-input__suffix {
  margin-left: 0;
}

.n-input .n-input__suffix .n-base-icon,
.n-input .n-input__prefix .n-base-icon {
  font-size: 1rem;
}

.n-menu-item-content {
  padding: 0 !important;
}

.n-menu-item-content__icon {
  width: auto !important;
  font-size: 2rem !important;
  margin-right: 0.3rem !important;
}

.n-base-selection-tag-wrapper {
  padding: 0 0 0 0.5rem;
  .n-tag {
    font-size: 0.9rem;
  }
}

.n-base-selection {
  .n-base-selection-tags {
    padding: 0 0;
  }
  .n-base-suffix {
    right: 0.5rem;
    .n-base-suffix__arrow {
      font-size: 1rem;
    }
  }
}

.n-base-clear > .n-base-clear__clear {
  font-size: 1rem;
}

.n-form.n-form--inline .n-form-item {
  margin-right: 1.5rem;
}

.n-popconfirm {
  .n-popconfirm__action .n-button:not(:last-child) {
    margin-right: 0.5rem;
  }
  .n-popconfirm__action:not(:first-child) {
    margin-top: 0.5rem;
  }
}

.n-popover:not(.n-popover--raw):not(.n-popover--scrollable):not(.n-popover--show-header-or-footer) {
  padding: 0.5rem 1rem;
}

.n-notification-container {
  .n-notification .n-notification__avatar {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2.5rem;
  }
  .n-notification.n-notification--show-avatar .n-notification-main {
    margin-left: 3rem;
  }
}

.n-cascader-menu .n-cascader-submenu.n-cascader-submenu--virtual {
  width: unset;
}
