/* 卡片头部文字居中 */
.n-card-header {
  text-align: center;
}

.n-card > {
  .n-card-header {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .n-card__content {
    padding: 0 2rem 1.5rem 2rem;
  }
}

.n-input .n-input__suffix {
  margin-left: 0;
}

.n-input .n-input__suffix .n-base-icon,
.n-input .n-input__prefix .n-base-icon {
  font-size: 1rem;
}

.n-menu-item-content {
  padding: 0 !important;
}

.n-menu-item-content__icon {
  width: auto !important;
  font-size: 1.8rem !important;
  margin-right: 0.3rem !important;
}

.n-dropdown-menu .n-dropdown-option {
  .n-dropdown-option-body {
    font-size: 1.25rem;
  }

  .n-dropdown-option-body::before {
    left: 0.25rem;
    right: 0.25rem;
  }
}

.n-dropdown-menu-wrapper .n-dropdown-menu {
  max-height: 40vh;
  overflow: auto;
}

.n-dropdown-menu:not(.n-dropdown-menu--scrollable) {
  padding: 0.25rem 0;
}

.n-base-selection-tag-wrapper {
  padding: 0 0 0 0.5rem;
  .n-tag {
    font-size: 0.9rem;
  }
}

.n-base-selection {
  .n-base-selection-tags {
    padding: 0 0;
  }
  .n-base-suffix {
    right: 0.5rem;
    .n-base-suffix__arrow {
      font-size: 1rem;
    }
  }
}

.n-base-clear > .n-base-clear__clear {
  font-size: 1rem;
}

.n-form.n-form--inline .n-form-item {
  margin-right: 1.5rem;
}

.n-popconfirm {
  .n-popconfirm__action .n-button:not(:last-child) {
    margin-right: 0.5rem;
  }
  .n-popconfirm__action:not(:first-child) {
    margin-top: 0.5rem;
  }
}

.n-popover:not(.n-popover--raw):not(.n-popover--scrollable):not(.n-popover--show-header-or-footer) {
  padding: 0.5rem 1rem;
}

.n-notification-container {
  .n-notification .n-notification__avatar {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2.5rem;
  }
  .n-notification.n-notification--show-avatar .n-notification-main {
    margin-left: 3rem;
  }
}

.n-cascader-menu {
  .n-cascader-submenu.n-cascader-submenu--virtual {
    width: auto;
  }
  .n-cascader-option {
    .n-cascader-option__prefix {
      width: 2rem;
    }
    .n-cascader-option__suffix {
      width: 2.5rem;
    }
  }
}

.n-radio .n-radio__dot::before {
  left: 0.3rem;
  top: 0.3rem;
  height: calc(100% - 0.6rem);
  width: calc(100% - 0.6rem);
}

.n-drawer-header {
  justify-content: center !important;
}

.n-checkbox .n-checkbox-box {
  height: 1rem;
  width: 1rem;
}

.n-scrollbar > .n-scrollbar-rail.n-scrollbar-rail--vertical,
.n-scrollbar + .n-scrollbar-rail.n-scrollbar-rail--vertical {
  right: 0.2rem;
  top: 0.2rem;
  bottom: 1.5rem;
  width: 0.5rem;
}

.n-scrollbar > .n-scrollbar-rail.n-scrollbar-rail--vertical > .n-scrollbar-rail__scrollbar,
.n-scrollbar + .n-scrollbar-rail.n-scrollbar-rail--vertical > .n-scrollbar-rail__scrollbar {
  width: 0.5rem;
}

.n-scrollbar-rail__scrollbar {
  min-height: 1.5rem;
}
