name: Release

on:
  push:
    tags:
      - 'v*'
      
  workflow_dispatch:

jobs:
  release:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
        
    runs-on: ${{ matrix.platform }}
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Pnpm setup
        uses: pnpm/action-setup@v2.2.2
        with:
          version: 7

      - name: Node.js setup
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: 'pnpm'
          
      - name: Rust setup
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          
      - name: Install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev webkit2gtk-4.0 libappindicator3-dev librsvg2-dev patchelf
          
      - name: Install dependencies
        run: pnpm install
        
      - name: Build the app
        uses: tauri-apps/tauri-action@v0
        
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: v__VERSION__ # tauri-action replaces \_\_VERSION\_\_ with the app version
          releaseName: 'v__VERSION__'
          releaseBody: 'See the assets to download this version and install.'
          releaseDraft: true
          prerelease: false
